In [82]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [83]:
file = r"C:\Users\Mr. Jarvis\Desktop\corona virus\covid_19_data.csv"

In [84]:
file

'C:\\Users\\Mr. Jarvis\\Desktop\\corona virus\\covid_19_data.csv'

In [85]:
cov19 = pd.read_csv(file)

In [86]:
cov19

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
7009,7010,03/19/2020,NaN,Jersey,2020-03-17T18:33:03,0.0,0.0,0.0
7010,7011,03/19/2020,NaN,Puerto Rico,2020-03-17T16:13:14,0.0,0.0,0.0
7011,7012,03/19/2020,NaN,Republic of the Congo,2020-03-17T21:33:03,0.0,0.0,0.0
7012,7013,03/19/2020,NaN,The Bahamas,2020-03-19T12:13:38,0.0,0.0,0.0
7013,7014,03/19/2020,NaN,The Gambia,2020-03-18T14:13:56,0.0,0.0,0.0

In [87]:
cov19 = pd.read_csv(file , parse_dates=["Last Update"])

In [88]:
cov19

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
7009,7010,03/19/2020,NaN,Jersey,2020-03-17 18:33:03,0.0,0.0,0.0
7010,7011,03/19/2020,NaN,Puerto Rico,2020-03-17 16:13:14,0.0,0.0,0.0
7011,7012,03/19/2020,NaN,Republic of the Congo,2020-03-17 21:33:03,0.0,0.0,0.0
7012,7013,03/19/2020,NaN,The Bahamas,2020-03-19 12:13:38,0.0,0.0,0.0
7013,7014,03/19/2020,NaN,The Gambia,2020-03-18 14:13:56,0.0,0.0,0.0

In [89]:
cov19.shape

(7014, 8)

In [90]:
cov19.dtypes

SNo                         int64
ObservationDate            object
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

In [91]:
cov19.isnull().sum()

SNo                   0
ObservationDate       0
Province/State     2925
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [92]:
cov19.rename(columns={'ObservationDate':'Date', 'Country/Region':'Country'}, inplace=True)

In [93]:
cov19

,SNo,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
7009,7010,03/19/2020,NaN,Jersey,2020-03-17 18:33:03,0.0,0.0,0.0
7010,7011,03/19/2020,NaN,Puerto Rico,2020-03-17 16:13:14,0.0,0.0,0.0
7011,7012,03/19/2020,NaN,Republic of the Congo,2020-03-17 21:33:03,0.0,0.0,0.0
7012,7013,03/19/2020,NaN,The Bahamas,2020-03-19 12:13:38,0.0,0.0,0.0
7013,7014,03/19/2020,NaN,The Gambia,2020-03-18 14:13:56,0.0,0.0,0.0

In [94]:
def datetime_to_int(cov19):
    return int(cov19.strftime("%Y%m%d%H%M%S"))

In [95]:
cov19.dtypes

SNo                        int64
Date                      object
Province/State            object
Country                   object
Last Update       datetime64[ns]
Confirmed                float64
Deaths                   float64
Recovered                float64
dtype: object

In [96]:
cov19.Date

0       01/22/2020
1       01/22/2020
2       01/22/2020
3       01/22/2020
4       01/22/2020
           ...
7009    03/19/2020
7010    03/19/2020
7011    03/19/2020
7012    03/19/2020
7013    03/19/2020
Name: Date, Length: 7014, dtype: object

In [97]:
cov19.Date.unique()

array(['01/22/2020', '01/23/2020', '01/24/2020', '01/25/2020',
       '01/26/2020', '01/27/2020', '01/28/2020', '01/29/2020',
       '01/30/2020', '01/31/2020', '02/01/2020', '02/02/2020',
       '02/03/2020', '02/04/2020', '02/05/2020', '02/06/2020',
       '02/07/2020', '02/08/2020', '02/09/2020', '02/10/2020',
       '02/11/2020', '02/12/2020', '02/13/2020', '02/14/2020',
       '02/15/2020', '02/16/2020', '02/17/2020', '02/18/2020',
       '02/19/2020', '02/20/2020', '02/21/2020', '02/22/2020',
       '02/23/2020', '02/24/2020', '02/25/2020', '02/26/2020',
       '02/27/2020', '02/28/2020', '02/29/2020', '03/01/2020',
       '03/02/2020', '03/03/2020', '03/04/2020', '03/05/2020',
       '03/06/2020', '03/07/2020', '03/08/2020', '03/09/2020',
       '03/10/2020', '03/11/2020', '03/12/2020', '03/13/2020',
       '03/14/2020', '03/15/2020', '03/16/2020', '03/17/2020',
       '03/18/2020', '03/19/2020'], dtype=object)

In [98]:
cov19 = cov19.drop(["Date"] , axis=1)

In [99]:
cov19

,SNo,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
7009,7010,NaN,Jersey,2020-03-17 18:33:03,0.0,0.0,0.0
7010,7011,NaN,Puerto Rico,2020-03-17 16:13:14,0.0,0.0,0.0
7011,7012,NaN,Republic of the Congo,2020-03-17 21:33:03,0.0,0.0,0.0
7012,7013,NaN,The Bahamas,2020-03-19 12:13:38,0.0,0.0,0.0
7013,7014,NaN,The Gambia,2020-03-18 14:13:56,0.0,0.0,0.0

In [100]:
cov19.dtypes

SNo                        int64
Province/State            object
Country                   object
Last Update       datetime64[ns]
Confirmed                float64
Deaths                   float64
Recovered                float64
dtype: object

In [36]:
cat_vars = cov19.select_dtypes("object").columns

In [37]:
cat_vars

Index(['Province/State', 'Country'], dtype='object')

In [38]:
cov19.shape

(7014, 7)

In [40]:
for col in cat_vars:
    dummy=pd.get_dummies(cov19[col],drop_first=True,prefix=col)
    cov19=pd.concat([cov19,dummy],axis=1)
    del cov19[col]
    print(col)
del dummy

Province/State
Country

In [41]:
cov19

,SNo,Last Update,Confirmed,Deaths,Recovered,"Province/State_ Norfolk County, MA",Province/State_Alabama,"Province/State_Alameda County, CA",Province/State_Alaska,Province/State_Alberta,...,Country_US,Country_Ukraine,Country_United Arab Emirates,Country_Uruguay,Country_Uzbekistan,Country_Vatican City,Country_Venezuela,Country_Vietnam,Country_Zambia,Country_occupied Palestinian territory
0,1,2020-01-22 17:00:00,1.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2020-01-22 17:00:00,14.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,2020-01-22 17:00:00,6.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,2020-01-22 17:00:00,1.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2020-01-22 17:00:00,0.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009,7010,2020-03-17 18:33:03,0.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7010,7011,2020-03-17 16:13:14,0.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7011,7012,2020-03-17 21:33:03,0.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7012,7013,2020-03-19 12:13:38,0.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7013,7014,2020-03-18 14:13:56,0.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
cov19.dtypes

SNo                                                int64
Last Update                               datetime64[ns]
Confirmed                                        float64
Deaths                                           float64
Recovered                                        float64
                                               ...
Country_Vatican City                               uint8
Country_Venezuela                                  uint8
Country_Vietnam                                    uint8
Country_Zambia                                     uint8
Country_occupied Palestinian territory             uint8
Length: 466, dtype: object

In [44]:
cov19.Confirmed.unique

<bound method Series.unique of 0        1.0
1       14.0
2        6.0
3        1.0
4        0.0
        ...
7009     0.0
7010     0.0
7011     0.0
7012     0.0
7013     0.0
Name: Confirmed, Length: 7014, dtype: float64>

In [45]:
cov19.Confirmed.value_counts

<bound method IndexOpsMixin.value_counts of 0        1.0
1       14.0
2        6.0
3        1.0
4        0.0
        ...
7009     0.0
7010     0.0
7011     0.0
7012     0.0
7013     0.0
Name: Confirmed, Length: 7014, dtype: float64>

In [53]:
cov19.select_dtypes("object").columns

Index([], dtype='object')

In [56]:
country=cov19.groupby(["Country_US"])[['Confirmed','Recovered','Deaths']].sum()

In [57]:
country

            Confirmed  Recovered    Deaths
Country_US
0           4235861.0  1605958.0  142447.0
1             48091.0      470.0     891.0

In [59]:
cov19.groupby(["Country_United Arab Emirates"])[["Confirmed" , "Recovered" , "Deaths"]].sum()

                              Confirmed  Recovered    Deaths
Country_United Arab Emirates
0                             4282433.0  1606107.0  143338.0
1                                1519.0      321.0       0.0

In [60]:
cov19.columns

Index(['SNo', 'Last Update', 'Confirmed', 'Deaths', 'Recovered',
       'Province/State_ Norfolk County, MA', 'Province/State_Alabama',
       'Province/State_Alameda County, CA', 'Province/State_Alaska',
       'Province/State_Alberta',
       ...
       'Country_US', 'Country_Ukraine', 'Country_United Arab Emirates',
       'Country_Uruguay', 'Country_Uzbekistan', 'Country_Vatican City',
       'Country_Venezuela', 'Country_Vietnam', 'Country_Zambia',
       'Country_occupied Palestinian territory'],
      dtype='object', length=466)

In [61]:
cov19.shape

(7014, 466)

In [63]:
x = cov19.drop(['Confirmed','SNo','Last Update'],1)

In [64]:
x

,Deaths,Recovered,"Province/State_ Norfolk County, MA",Province/State_Alabama,"Province/State_Alameda County, CA",Province/State_Alaska,Province/State_Alberta,Province/State_Anhui,Province/State_Arizona,Province/State_Arkansas,...,Country_US,Country_Ukraine,Country_United Arab Emirates,Country_Uruguay,Country_Uzbekistan,Country_Vatican City,Country_Venezuela,Country_Vietnam,Country_Zambia,Country_occupied Palestinian territory
0,0.0,0.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7010,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7011,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7012,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7013,0.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
y = cov19['Confirmed']

In [66]:
y

0        1.0
1       14.0
2        6.0
3        1.0
4        0.0
        ...
7009     0.0
7010     0.0
7011     0.0
7012     0.0
7013     0.0
Name: Confirmed, Length: 7014, dtype: float64

In [67]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [68]:
model = LinearRegression()

In [69]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [70]:
cov19_prediction = model.predict(x_test)

In [71]:
cov19_prediction

array([121.51882935,  18.59837341, 126.75808716, ...,  28.58139038,
        11.64100647,  16.78088379])

In [72]:
from sklearn.metrics import r2_score

In [73]:
r2_score(y_test, cov19_prediction)

-3347795358291.014

In [74]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [75]:
cov19_rmse1 = mean_squared_error(y_test , cov19_prediction)

In [76]:
cov19_rmse1

8.857771491361386e+19

In [77]:
cov19_rmse2 = mean_absolute_error(y_test , cov19_prediction)

In [78]:
cov19_rmse2

697576072.9865814

In [79]:
from math import sqrt

In [80]:
rms = sqrt(mean_squared_error(y_test, cov19_prediction))

In [81]:
rms

9411573455.783781

#####

In [101]:
cov19

,SNo,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
7009,7010,NaN,Jersey,2020-03-17 18:33:03,0.0,0.0,0.0
7010,7011,NaN,Puerto Rico,2020-03-17 16:13:14,0.0,0.0,0.0
7011,7012,NaN,Republic of the Congo,2020-03-17 21:33:03,0.0,0.0,0.0
7012,7013,NaN,The Bahamas,2020-03-19 12:13:38,0.0,0.0,0.0
7013,7014,NaN,The Gambia,2020-03-18 14:13:56,0.0,0.0,0.0

In [102]:
cov19.dtypes

SNo                        int64
Province/State            object
Country                   object
Last Update       datetime64[ns]
Confirmed                float64
Deaths                   float64
Recovered                float64
dtype: object

In [104]:
cov19['Country']=cov19['Country'].astype('str')

In [105]:
cov19['Province/State']=cov19['Province/State'].astype('str')

In [108]:
cov19.dtypes

SNo                        int64
Province/State            object
Country                   object
Last Update       datetime64[ns]
Confirmed                float64
Deaths                   float64
Recovered                float64
dtype: object

In [107]:
from sklearn import preprocessing

In [110]:
lbl=preprocessing.LabelEncoder()

In [111]:
for c in ["Province/State","Country"]:
    lbl.fit(cov19[c].unique())
    cov19[c]=lbl.transform(cov19[c])

In [112]:
cov19

,SNo,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,6,102,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,13,102,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,33,102,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,70,102,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,72,102,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
7009,7010,279,88,2020-03-17 18:33:03,0.0,0.0,0.0
7010,7011,279,135,2020-03-17 16:13:14,0.0,0.0,0.0
7011,7012,279,138,2020-03-17 21:33:03,0.0,0.0,0.0
7012,7013,279,167,2020-03-19 12:13:38,0.0,0.0,0.0
7013,7014,279,168,2020-03-18 14:13:56,0.0,0.0,0.0

In [114]:
x=cov19.drop(['Confirmed','SNo','Last Update'],1)
y=cov19['Confirmed']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [115]:
model=LinearRegression()

In [116]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [117]:
y_pred=model.predict(x_test)

In [118]:
from sklearn.metrics import r2_score

In [119]:
print(' R2 Score   : ',r2_score(y_test, y_pred))

 R2 Score   :  0.9461198875962723